<div class="row" style="text-align: center; margin-bottom: 20px;">
  <h2>Log In</h2>
</div>

<div class="border-form-div">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

    <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Remember Me" %>
      </div>
    </div>
    <% end -%>

    <div class="form-group">
      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
<% end %>
</div>

<div class="forgot-button">
  <%= render "devise/shared/links" %>
</div>
