<div class="container">
  <h1>Admin Dashboard</h1>
  <%= link_to "View Cohorts", admin_cohorts_path, class: "btn btn-info btn-xs" %>
  <%= link_to "Manage Roles", admin_roles_path, class: "btn btn-primary btn-xs" %>
  <%= link_to "Manage User Roles", admin_roles_users_edit_path, class: "btn btn-info btn-xs" %>
  <%= link_to "Manage Groups", admin_groups_path, class: "btn btn-primary btn-xs" %>
  <%= link_to "Invite People", new_invitation_path, class: "btn btn-info btn-xs" %>
  <h3>Pending Invitations</h3>
  <div class="container" id="pending-invitations">
    <%= render 'shared/invitations_table', invitations: Invitation.all %>
  </div>
</div>
