<div class="container">
  <p>
    <%= "Hi #{@email}," %>
  </p>
  <p>
  We are happy to inform you that you have been accepted to the Turing School
  of Software & Design. Congratulations and welcome!
  </p>
  <p>
  <strong>Please follow <%= link_to("this link", @url) %></strong> to create an
  account with Census, the Turing School of Software & Design's identity
  management application.
  </p>
  <p>
  <strong>Next, please visit <a href='https://enroll.turing.io/'>enroll.turing.io</a></strong> to
  find more information about our programs, enrollment availability, and to
  pick a starting date.
  </p>
  <p>We invite you to explore the following financing options available to our students:</p>
  <ul>
    <li><%= link_to("Sallie Mae", "https://www.salliemae.com/ctsmartloan") %></li>
    <li><%= link_to("SkillsFund", "http://turing.skills.fund/accepted") %></li>
    <li><%= link_to("Climb",      "http://www.climbcredit.com/apply/turing") %></li>
  </ul>
  <p>
  These options make it possible for you to start at Turing for as little as
  $1,000 up front and finance the rest. If you are interested in financing
  living expenses, you can do so for up to $14,000 with Sallie Mae or
  SkillsFund and $3500 with Climb. For students unable to secure outside
  financing, Turing offers alternative payment plans.
  </p>
  <p>We are excited for you to join us.</p>
  <p>Congrats again!</p>
  <p>The Turing Team</p>
</div>

