<div class="container">
  <p>
    <%= "Hi #{@salutation_name}," %>
  </p>
  <p>
    Congratulations and welcome! <strong>We are happy to inform you that you have been conditionally accepted to the Turing School of Software & Design.</strong> To join us officially, you will need to successfully complete Mod 0 - learn more <%= link_to("here", "https://mod0.turing.io/") %>.
  </p>
  <p>
    You are about to embark upon an exciting, challenging, and life-changing experience that will be one of the hardest, best things you've ever done. Turing is hard, but it is worth it. Read some <%= link_to("alumni stories", "https://writing.turing.io/tag/alumni/") %> to learn more. Today, we're inviting you to join our community and enroll!
  </p>
  <p>
    <strong>Your next steps:</strong>
  </p>
  <ol>
    <li>
      <strong>Follow <%= link_to("this link", "http://email.turing.io/wf/click?upn=ZphGLUw808sdEm1ILwvOtBRVLCxNVRDaqd7qDnM2nWhs-2FsFHFqP3treA9dqm6BfXDnSJc1m-2FjQhnupW0Lksbc9Pk3GeP3y5-2BIgrmHpr7cS-2FSqyXFk1HlKAU6WL0OrdD15jddPCYLAzXn2nhdSbruGwvT28l808SlqijM20asKN4-3D_et-2FIvjrxoz0bIAuQSC0hCSSIWpYW1K-2BlkFEivNtVabwVpn03BYLm9Nit1Rv4uSdUDGyAEzg3JfR3IsacBG8lcxpGMXzPrxXbhfyYTAiCncvC73J6fWIOGpc9FGaGLpQaWBeragOfo3gJSfvvAIfOmew38h4-2ByWUWgGZCAZOgMFJI24sJeIp1iud5eZ87D6CllREhlczZhUXc4PudTHHgIw-3D-3D") %></strong> to create an account with Census, the Turing School of Software & Design's identity management application.
    </li>
    <li>
      <strong>Visit <%= link_to("enroll.turing.io", "http://email.turing.io/wf/click?upn=eZSed92pY-2FQyfwSCgLIfgUmJoM64eS3COuXPA5GJ8ho-3D_et-2FIvjrxoz0bIAuQSC0hCSSIWpYW1K-2BlkFEivNtVabwVpn03BYLm9Nit1Rv4uSdUwK-2BQFhmeEHRO2ehUYlapgkgZ935y3lYYKeMLokTsl2yXOqZY-2BftDHpuvq5FZgEWAUGCenVFiG9qercaHQXfuSkkgT315JX-2B9CJ1UeA5-2FCsPjRarpwqtiNmakDkMdSzxRGqYjYop8DefTZZdN2bNaKA-3D-3D") %></strong> to pay your deposit, choose a Mod 0, and choose a cohort. We recommend you do this ASAP, as cohorts fill up quickly. 
    </li>
  </ol>
  <p>We invite you to explore the following financing options available to our students:</p>
  <ul>
    <li><%= link_to("Sallie Mae", "http://email.turing.io/wf/click?upn=GlpLQqCoibpxXvPZd6HJXQpWC1UAvFGACTTOo0Ur4t8Olvp7S4m43GWwMMV4gErP_et-2FIvjrxoz0bIAuQSC0hCSSIWpYW1K-2BlkFEivNtVabwVpn03BYLm9Nit1Rv4uSdUrnfyyfj4xqMi1YKu4d9RsOVdJwbL-2F2Wcdx8EFcOnjR0-2FA27lHcCkdOc-2BN93mNwJ-2FAOm1l7z6l-2F4Se-2B5EGiCo-2FRt-2BPSiiUR9-2Bpb8r9R4SOqN6VQdSkdmHlPzcqHx62v4AF-2BBhEcxg-2Fm3iT8L1uIdMAQ-3D-3D") %></li>
    <li><%= link_to("SkillsFund", "http://email.turing.io/wf/click?upn=x9jGS5kbtoI77qbqIokdVQSiwp700oFIOhRWODv8yj8WwluZMcv-2B3pwvYr1ZPcO3_et-2FIvjrxoz0bIAuQSC0hCSSIWpYW1K-2BlkFEivNtVabwVpn03BYLm9Nit1Rv4uSdU9w99c7yGIEKHQjdNB3O-2F6HhC87-2BKw7mwEpJths02xrFF-2BAZ0Bsrl9DLQd4JAQHrkM9lMA48eH4gIPU4unem58sBmMr2bDqKKqucDe7oHHaPn4FaO-2FgssbwGUbBsxWhd51nBR-2B3-2Bbu-2FcFUxLnNj2RGA-3D-3D") %></li>
    <li><%= link_to("Climb",      "http://email.turing.io/wf/click?upn=lUiR9f3M7RhCH6WaTBXRhUXP-2FUA2dfhnzpz617MYp21VNCXtJiqkRfrMBqVxDi4B_et-2FIvjrxoz0bIAuQSC0hCSSIWpYW1K-2BlkFEivNtVabwVpn03BYLm9Nit1Rv4uSdURzaiagUINGr3ph129NFh1-2BXoOsdSYPyB25OvmEgLO4k0xBQTJrrzaeAEdtmRpQW7C6-2FrfXAV5Z1CPuSclMvA7Kpy9FnF9p-2FcxPePfwO1Z8djUSLuvFNziitkFe8ek8nFUxqzyZ2-2FTc86S1WthW-2BzBA-3D-3D") %></li>
  </ul>
  <p>
    These options make it possible for you to start at Turing for as little as $1,200 up front and finance the rest. We have a dedicated support team to help you make the right financial decision. If you have questions about financing, please contact Darren at <%= mail_to("darren@turing.io") %>.
  </p>
  <p>
    If you have any questions about enrollment, please contact Erin at <%= mail_to("erin@turing.io") %> or by replying to this email.
  </p>
  <p>Congrats again!</p>
  <p>
    The Turing Team
    <br />
    Read more at <%= link_to("Turing Perspectives", "https://writing.turing.io/") %>
  </p>
</div>

