<table class="table table-hover" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true">Email</th>
      <th data-sortable="true">Status</th>
      <th data-sortable="true">Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% invitations.each do |invite| %>
    <tr>
      <td><%= invite.email %></td>
      <td><%= invite.status %></td>
      <td><%= time_ago_in_words(invite.created_at) %> ago</td>
      <td>
        <div class="btn-group" role="group">
          <%= link_to "Resend",
              invitation_path(invite),
              method: 'put',
              class: 'btn btn-default btn-xs' %>
          <%= link_to "Cancel",
              invitation_path(invite),
              method: 'delete',
              class: 'btn btn-default btn-xs' %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
