
<div class='navbar navbar-inverse navbar-static-top' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <%= link_to 'Census', root_path, class: 'navbar-brand' %>
    </div>
    <ul class='nav navbar-nav'>
      <% if user_signed_in? %>
        <li><%= link_to 'Account Info', user_path(current_user) %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>

      <% if user_is_admin? %>
        <li><%= link_to 'Go to Dashboard', admin_dashboard_path %></li>
      <% end %>
    </ul>
  </div>
</div>

