<div class="form-group">
  <div class="field">
    <%= f.label :first_name, "First Name*" %><br />
    <%= f.text_field :first_name, class: "form-control" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :last_name, "Last Name*" %><br />
    <%= f.text_field :last_name, class: "form-control" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :email, "Email*" %><br />
    <% if invited? %>
      <%= f.email_field :email, readonly: true, class: 'form-control' %><br />
    <% else %>
      <%= f.email_field :email, class: 'form-control' %><br />
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :gender_pronouns, "Gender Pronoun(s)" %><br />
    <%= f.text_field :gender_pronouns, class: "form-control", id: "gender_pronouns-field", placeholder: "E.g. she/her" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :twitter %>  <span id="twitter-hint" class="bg-danger hidden" style="font-style:italic;">(Enter username only. E.g. for "@j3" enter only "j3")</span><br />
    <%= f.text_field :twitter, class: "form-control", id: "twitter-field", placeholder: "E.g. j3" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :linked_in, "LinkedIn" %>  <span id="linkedin-hint" class="bg-danger hidden" style="font-style:italic;">(Enter username only. E.g. for https://www.linkedin.com/in/jcasimir" enter only "jcasimir")</span><br />
    <%= f.text_field :linked_in, class: "form-control", id: "linkedin-field", placeholder: "E.g. jcasimir" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :git_hub, "GitHub" %> <span id="github-hint" class="bg-danger hidden" style="font-style:italic;">(Enter username only. E.g. for "https://www.github.io/jcasimir" enter only "jcasimir")</span><br />
    <%= f.text_field :git_hub, class: "form-control", id: "github-field", placeholder: "E.g. jcasimir" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :slack, "Slack" %> <span id="slack-hint" class="bg-danger hidden" style="font-style:italic;">(Enter username only. E.g. for "@j3" enter only "j3")</span><br />
    <%= f.text_field :slack, class: "form-control", id: "slack-field", placeholder: "E.g. j3" %><br />
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :stackoverflow, "StackOverflow" %> <span id="stack_overflow-hint" class="bg-danger hidden" style="font-style:italic;">(Enter profile url)</span><br />
    <%= f.text_field :stackoverflow, class: "form-control", id: "stack_overflow-field", placeholder: "E.g. https://stackexchange.com/users/10124209/jeff-casimir" %><br />
  </div>
</div>

<% if show_cohorts %>
  <div class="form-group">
    <div class="field">
      <%= f.label :cohort_id %><br />
      <% if user_is_admin? && @user.cohort %>
        <%= f.select :cohort_id, options_from_collection_for_select(cohorts, "id", "name", "#{@user.cohort.id}"), class:"form-control" %>
      <% elsif @user.cohort %>
        <%= f.select :cohort_id, options_from_collection_for_select([@user.cohort], "id", "name", "#{@user.cohort.id}"),class:"form-control" %>
      <% else %>
        <%= f.select :cohort_id, options_from_collection_for_select(cohorts, "id", "name"), include_blank: true, class:"form-control" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <div class="field">
    <%= f.label "Upload an Image" %>
    <%= f.file_field :image, style: "margin-left:25%;" %>
  </div>
</div>
