<div class="container">
  <h2>Add Groups:</h2>
    <%= form_tag affiliations_path method: "post" do |f| %>
      <%= hidden_field_tag "user[group_ids][]", nil %>
      <% Group.all.each do |group| %>
        <div class="field">
          <%= check_box_tag group.id, group.id, @user.groups.include?(group), :name => 'user[group_ids][]' %>
          <%= label_tag group.id, group.name %>
        </div>
      <% end %>
      <%= submit_tag 'Save changes', class:'btn btn-default btn-xs' %>
    <% end %>
</div>
