<div class="container text-center">
  <div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4 well col-md-offset-4">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

          <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
          <% end -%>

          <div class="form-group">
            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-primary btn-lg btn-block" %>
            </div>
          </div>
      <% end %>
        <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>
